.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#dropFilesInstructions {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 2rem;
}

#fileQueueContainer {
  padding-top: 1em;
  padding-bottom: 1em;
  transition: 300ms ease opacity;

  table {
    width: 100%;
  }
}

::ng-deep #dropZoneContainer.file-upload {
  width: 100%;
  margin: 0;

  .ngx-file-drop__drop-zone {
    border: 4px dotted gray;
    padding: 40px;
    margin: 0;

    .ngx-file-drop__content {
      width: 100%;
    }
  }
}

.hover { background-color: #CCCCCC; }
