<div class="full-height" fxLayout="column" fxLayoutAlign="center center">
  <h1>UVA NetBadge Sign In</h1>
  <form>
    <mat-form-field class="full-width">
      <input matInput placeholder="UVA Computing ID">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput type="password" placeholder="Password">
    </mat-form-field>

    <button
      [routerLink]="['/']"
      color="primary"
      (click)="signIn()"
      mat-flat-button
      id="cta_sign_in"
    >
      Sign in
    </button>
  </form>
</div>
