@import "../../_config.scss";

footer {
  background-color: $brand-gray;
  color: white;
  text-align: center;
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 40px;
}
