@import '../../config';

.container {
  padding: 6em 8em;
}

.intro, .requests {
  width: 100%;
}

h2 { margin-top: 2rem; }

mat-card.dashboard {
  cursor: pointer;
  margin: 0px;
  width: 100%;

  .mat-card-content {
    padding: 0;
  }

  ::ng-deep .mat-list-base .mat-list-item.mat-3-line,
  ::ng-deep .mat-list-base .mat-list-option.mat-3-line {
    height: inherit;
  }

  ::ng-deep .mat-list-base .mat-list-item .mat-list-item-content,
  ::ng-deep .mat-list-base .mat-list-option .mat-list-item-content {
    padding: 2rem 2em;
  }

  .progress {
    margin-top: 1rem;

    .approval {
      margin-bottom: 1em;
      padding-left: 1em;
      text-wrap: normal;
      white-space: normal;

      &.CANCELED { border-left: 4px solid $brand-gray-tint-2; color: $brand-gray-tint-1; }
      &.PENDING { border-left: 4px solid $brand-accent; }
      &.DECLINED { border-left: 4px solid $brand-warning; color: $brand-warning; }
      &.APPROVED { border-left: 4px solid $brand-green; }
    }
  }
}

