@import '../../config';

.intro {
  max-width: 800px;
  margin:auto;
  padding: 50px;
}

mat-card {
  cursor: pointer;

  ::ng-deep .mat-list-base .mat-list-item .mat-list-item-content,
  ::ng-deep .mat-list-base .mat-list-option .mat-list-item-content {
    padding: 2rem;
  }
}
