<ng-container *ngFor="let link of links">
  <a *ngIf="!link.links"
     [id]="link.id"
     [ngClass]="{'active': isLinkActive(link.path), 'toggledOff': link.toggled ? !link.toggled() : false}"
     [routerLink]="link.path"
     mat-button
     [matTooltip]="link.label"
     [disabled]="link.disabled"
     (click)="link.action ? link.action() : null"
  >
    <mat-icon [ngClass]="{'with-label': link.showLabel}">{{link.icon}}</mat-icon>
    <ng-container *ngIf="link.showLabel">{{link.label}}</ng-container>
  </a>

  <ng-container *ngIf="link.links">
    <button
      [attr.aria-label]="link.label"
      [id]="link.id"
      [matMenuTriggerFor]="menu"
      mat-button
      [matTooltip]="link.label"
      [disabled]="link.disabled"
    >
      <mat-icon [ngClass]="{'with-label': link.showLabel}">{{link.icon}}</mat-icon>
      <ng-container *ngIf="link.showLabel">{{link.label}}</ng-container>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu class="menu-overflow-hidden" #menu="matMenu">
      <button mat-menu-item class="search-text" disabled [disableRipple]="true">Search for Users </button>
      <button mat-menu-item [disableRipple]="true" (click)="$event.stopPropagation()">
        <div class="ldap-search">
          <form [formGroup]="form">
            <formly-form [form]="form" [fields]="fields" [model]="model" (modelChange)="viewAs(form.value)">
            </formly-form>
          </form>
        </div>
      </button>
    </mat-menu>
  </ng-container>
</ng-container>
