@import "../../config";

mat-icon.with-label {
  margin-right: 0.25em;
}

.toggledOff {
  color: $brand-primary-tint-3;
}

.mat-menu-item {
  width: 400px;
}

::ng-deep .mat-input-element {
  width: 100%;
}
