<div class="container">

  <div class="task-events">
    <div fxLayout="row" class="task-events-header">
      <h1 id="approvals_title">In Progress</h1>
      <span fxFlex></span>
      <mat-button-toggle-group
        [(ngModel)]="selectedTaskLane"
        (change)="toggleTaskLane($event)"
        aria-label="Filter Tasks by Role Type"
      >
        <mat-button-toggle
          *ngFor="let taskLane of taskLanes"
          [value]="taskLane"
        >
          <span
            [matBadge]="numTasksInTaskLane(taskLane)"
            [matBadgeHidden]="numTasksInTaskLane(taskLane) === 0"
            matBadgeOverlap="false"
            matBadgeColor="accent"
          >{{taskLane.label}}</span>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <table
      [hidden]="!hasTaskEvents"
      [dataSource]="approvalsDataSource"
      class="mat-elevation-z0 in-progress-box"
      mat-table
      matSort
      [attr.aria-describedby]="'approvals_title'"
    >
      <ng-container matColumnDef="user_display">
        <th scope="col"  *matHeaderCellDef mat-header-cell >Waiting On</th>
        <td *matCellDef="let approval" mat-cell [ngClass]="{'waiting-on': approval.user_uid === user.uid}"> {{approval.user_display}} </td>
      </ng-container>


      <ng-container matColumnDef="study.title">
        <th scope="col"  *matHeaderCellDef mat-header-cell > Study</th>
        <td *matCellDef="let approval" mat-cell title="{{approval.study.title}}" [ngClass]="{'waiting-on': approval.user_uid === user.uid}"> {{shrink(60,approval.study.title,approval.study.short_title)}} </td>
      </ng-container>

      <ng-container matColumnDef="workflow.category_display_name">
        <th scope="col"  *matHeaderCellDef mat-header-cell > Workflow</th>
        <td *matCellDef="let approval" mat-cell [ngClass]="{'waiting-on': approval.user_uid === user.uid}">
          {{approval.workflow.category_display_name}} >
          {{approval.workflow.display_name}}
        </td>
      </ng-container>

      <ng-container matColumnDef="task_title">
        <th scope="col"  *matHeaderCellDef mat-header-cell > Task</th>
        <td *matCellDef="let approval" mat-cell [ngClass]="{'waiting-on': approval.user_uid === user.uid}" >
          {{approval.task_title}}
        </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th scope="col"  *matHeaderCellDef mat-header-cell > Last Update</th>
        <td *matCellDef="let approval" mat-cell [ngClass]="{'waiting-on': approval.user_uid === user.uid}" >
          {{timeAgo(approval.date)}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="approvalColumns"></tr>
      <tr
        mat-row
        *matRowDef="let approval; columns: approvalColumns;"
        [attr.data-approval-id]="approval.id"
        [ngClass]="{'approval-row': true}"
        [routerLink]="['/study', approval.study.id, 'workflow', approval.workflow.id]"
      ></tr>

    </table>
    <mat-paginator pageSize="5"></mat-paginator>
    <p *ngIf="!hasTaskEvents" class="no-task-events"> You have no approvals pending at this time. If you received an email regarding an approval, please check for later notifications as that approval might have been cancelled. </p>
  </div>
</div>
<div class="divider"></div>
<div class="study-tab-div">
<mat-chip-list aria-label="Study Type Selection">
  <mat-chip [selected]="currentTab==i"
            color="accent"
            class="study-tab-chip"
            (click)="this.changeTab(i)"
            *ngFor="let studiesGroup of studiesByStatus; let i = index">
  {{studiesGroup.statusLabel}}
    <mat-chip [ngClass]="studiesGroup.status.toString().toLowerCase()"
              [selectable]="false">{{studiesGroup.studies.length}}</mat-chip>
  </mat-chip>
</mat-chip-list>
<div class="study-tab-group">
  <mat-card
    class="tab"
    [hidden] = "currentTab !== i "
    *ngFor="let studiesGroup of studiesByStatus; let i = index">
    <div  class="status-{{studiesGroup.status.toString().toLowerCase()}}"
          fxLayout="row wrap"
          fxLayoutGap="40px">
      <table
        [dataSource]="studiesGroup.dataSource"
        class="mat-elevation-z0"
        mat-table
        #secondTable
        #secondSort(matSort)
        matSort
        [attr.aria-describedby]="studiesGroupId(studiesGroup)"
      >
        <ng-container matColumnDef="id">
          <th scope="col" *matHeaderCellDef mat-header-cell  id="col_study_id"> Study ID</th>
          <td *matCellDef="let study" class="study-blue" mat-cell> {{study.id}} </td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th  scope="col" *matHeaderCellDef mat-header-cell  id="col_study_title"> Study Title</th>
          <td *matCellDef="let study" class="study-blue" mat-cell title="{{study.title}}"> {{shrink(120,study.title,study.short_title)}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th scope="col" *matHeaderCellDef mat-header-cell id="col_status"> Status</th>
          <td *matCellDef="let study" mat-cell>
            <div *ngIf="studyStatusDisplayType(study)==='New'" class="new-study">
              NEW APPLICATION
            </div>
            <div *ngIf="studyStatusDisplayType(study)==='Progress'">
              <div class="in-progress-study">
                {{getStudyStatus(study).toUpperCase()}}
              </div>
              <app-study-progress [study]="study"></app-study-progress>
            </div>
            <div *ngIf="studyStatusDisplayType(study)==='Irb'">
              <div class = "irb-study">
                {{getIrbHsrStatus(study).toUpperCase()}}
              </div>
              <app-study-progress [study]="study"></app-study-progress>
            </div>

          </td>
        </ng-container>

        <ng-container matColumnDef="reviews_complete">
          <th  scope="col" *matHeaderCellDef mat-header-cell id="col_Reviews_complete">Reviews</th>
          <td *matCellDef="let study" mat-cell>
            <app-review-progress [study]="study"></app-review-progress>
          </td>
        </ng-container>

        <ng-container matColumnDef="updated">
          <th  scope="col" *matHeaderCellDef mat-header-cell id="col_updated">Updated</th>
          <td *matCellDef="let study" mat-cell>
            <div>
              {{study.last_activity_date | date: 'short'}}
            </div>
            <div>
              {{study.last_activity_user}}
            </div>

          </td>
        </ng-container>


        <ng-container matColumnDef="created">
          <th  scope="col" *matHeaderCellDef mat-header-cell  id="col_created">Created</th>
          <td *matCellDef="let study" mat-cell>
            <div>
            {{study.last_updated | date:'short' }}
            </div>
            <div>
              {{study.create_user_display}}
            </div>

          </td>
        </ng-container>


        <ng-container matColumnDef="actions">
          <th  scope="col" *matHeaderCellDef mat-header-cell id="col_study_actions"> Actions</th>
          <td *matCellDef="let study" mat-cell [ngClass]="'study-actions'">
            <button
              mat-flat-button
              [matMenuTriggerFor]="studyActionsMenu"
              aria-label="Study actions"
              (click)="$event.stopPropagation()"
              [ngClass]="'study-action-button'"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #studyActionsMenu="matMenu">
              <ng-container *ngFor="let action of studyActions">
                <button
                  *ngIf="action.showIf(study)"
                  mat-menu-item
                  (click)="openConfirmationDialog(study, action)"
                  [matTooltip]="insertStudyTitle(action.tooltipText, study)"
                >
                  <mat-icon>{{action.buttonIcon}}</mat-icon>
                  <span>{{action.buttonLabel}}.</span>
                </button>
              </ng-container>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let study; columns: displayedColumns;"
          [attr.data-study-id]="study.id"
          [ngClass]="{'study-row': true, 'new': isNewStudy(study)}"
          [routerLink]="['/study', study.id]"
        ></tr>
      </table>
    </div>
  </mat-card>
</div>

</div>
