<div class="container">
  <div class="task-events">
    <div fxLayout="row" class="task-events-header">
      <h1 id="approvals_title">In Progress</h1>
      <span fxFlex></span>
      <mat-button-toggle-group
        [(ngModel)]="selectedTaskLane"
        (change)="toggleTaskLane($event)"
        aria-label="Filter Tasks by Role Type"
      >
        <mat-button-toggle
          *ngFor="let taskLane of taskLanes"
          [value]="taskLane"
        >
          <span
            [matBadge]="numTasksInTaskLane(taskLane)"
            [matBadgeHidden]="numTasksInTaskLane(taskLane) === 0"
            matBadgeOverlap="false"
            matBadgeColor="accent"
          >{{taskLane.label}}</span>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <table
      *ngIf="hasTaskEvents"
      [dataSource]="approvalsDataSource"
      class="mat-elevation-z0"
      mat-table
      matSort
      [attr.aria-describedby]="'approvals_title'"
    >
      <ng-container matColumnDef="approval_study">
        <th *matHeaderCellDef mat-header-cell mat-sort-header id="col_approval_study"> Study</th>
        <td *matCellDef="let approval" mat-cell> {{approval.study.title}} </td>
      </ng-container>

      <ng-container matColumnDef="approval_workflow">
        <th *matHeaderCellDef mat-header-cell mat-sort-header id="col_approval_workflow"> Workflow</th>
        <td *matCellDef="let approval" mat-cell>
          {{approval.workflow.category_display_name}} >
          {{approval.workflow.display_name}}
        </td>
      </ng-container>

      <ng-container matColumnDef="approval_task">
        <th *matHeaderCellDef mat-header-cell mat-sort-header id="col_approval_task"> Task</th>
        <td *matCellDef="let approval" mat-cell>
          {{approval.task_title}}
        </td>
      </ng-container>

      <ng-container matColumnDef="approval_date">
        <th *matHeaderCellDef mat-header-cell mat-sort-header id="col_approval_date"> Last Update</th>
        <td *matCellDef="let approval" mat-cell>
          {{timeAgo(approval.date)}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="approvalColumns"></tr>
      <tr
        mat-row
        *matRowDef="let approval; columns: approvalColumns;"
        [attr.data-approval-id]="approval.id"
        [ngClass]="{'approval-row': true}"
        [routerLink]="['/study', approval.study.id, 'workflow', approval.workflow.id]"
      ></tr>
    </table>
    <p *ngIf="!hasTaskEvents" class="no-task-events">No {{selectedTaskLane.label}} to display.</p>
  </div>
</div>
<div class="study-tab-div">
<mat-chip-list aria-label="Study Type Selection">
  <mat-chip [selected]="currentTab==i"
            color="accent"
            class="study-tab-chip"
            (click)="this.changeTab(i)"
            *ngFor="let studiesGroup of studiesByStatus; let i = index">
  {{studiesGroup.statusLabel}}
    <mat-chip [ngClass]="studiesGroup.status.toString().toLowerCase()"
              [selectable]="false">{{studiesGroup.studies.length}}</mat-chip>
  </mat-chip>
</mat-chip-list>
<div class="study-tab-group">
  <mat-card
    class="tab"
    [hidden] = "currentTab !== i "
    *ngFor="let studiesGroup of studiesByStatus; let i = index">
    <div  class="status-{{studiesGroup.status.toString().toLowerCase()}}"
          fxLayout="row wrap"
          fxLayoutGap="40px">
      <table
        [dataSource]="studiesGroup.dataSource"
        class="mat-elevation-z0"
        mat-table
        matSort
        [attr.aria-describedby]="studiesGroupId(studiesGroup)"
      >
        <ng-container matColumnDef="id">
          <th *matHeaderCellDef mat-header-cell mat-sort-header id="col_study_id"> Study ID</th>
          <td *matCellDef="let study" class="study-blue" mat-cell> {{study.id}} </td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th *matHeaderCellDef mat-header-cell mat-sort-header id="col_study_title"> Study Title</th>
          <td *matCellDef="let study" class="study-blue" mat-cell> {{study.title}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th *matHeaderCellDef mat-header-cell mat-sort-header id="col_status"> Status</th>
          <td *matCellDef="let study" mat-cell>
            <div *ngIf="studyStatusDisplayType(study)==='New'" class="new-study">
              NEW APPLICATION
            </div>
            <div *ngIf="studyStatusDisplayType(study)==='Progress'">
              <div class="in-progress-study">
                {{getStudyStatus(study).toUpperCase()}}
              </div>
              <app-study-progress [study]="study"></app-study-progress>
            </div>
            <div *ngIf="studyStatusDisplayType(study)==='Irb'">
              <div class = "irb-study">
                {{getIrbHsrStatus(study).toUpperCase()}}
              </div>
              <app-study-progress [study]="study"></app-study-progress>
            </div>

          </td>
        </ng-container>

        <ng-container matColumnDef="reviews_complete">
          <th *matHeaderCellDef mat-header-cell mat-sort-header id="col_Reviews_complete">Reviews</th>
          <td *matCellDef="let study" mat-cell>
            0/0
          </td>
        </ng-container>

        <ng-container matColumnDef="irb_hsr_status">
          <th *matHeaderCellDef mat-header-cell mat-sort-header id="col_irb_hsr_status"> IRB-HSR Status</th>
          <td *matCellDef="let study" mat-cell>
            {{getIrbHsrStatus(study)}}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef mat-header-cell id="col_study_actions"> Actions</th>
          <td *matCellDef="let study" mat-cell [ngClass]="'study-actions'">
            <button
              mat-flat-button
              [matMenuTriggerFor]="studyActionsMenu"
              aria-label="Study actions"
              (click)="$event.stopPropagation()"
              [ngClass]="'study-action-button'"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #studyActionsMenu="matMenu">
              <ng-container *ngFor="let action of studyActions">
                <button
                  *ngIf="action.showIf(study)"
                  mat-menu-item
                  (click)="openConfirmationDialog(study, action)"
                  [matTooltip]="insertStudyTitle(action.tooltipText, study)"
                >
                  <mat-icon>{{action.buttonIcon}}</mat-icon>
                  <span>{{action.buttonLabel}}.</span>
                </button>
              </ng-container>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let study; columns: displayedColumns;"
          [attr.data-study-id]="study.id"
          [ngClass]="{'study-row': true, 'new': isNewStudy(study)}"
          [routerLink]="['/study', study.id]"
        ></tr>
      </table>
    </div>
  </mat-card>
</div>

</div>
