@import "../../config";

.tab[hidden] {display:none;}
.tab {
  min-height: 100px;
}

.waiting-on{
  background-color: #ffeeee;
}

.divider{
  min-height: 25px;
}

.task-events {
  color: white;
  background-color : rgba(255,255,255,.25);
  border-radius: 10px;
  padding: 1rem;
  border: 1px solid rgba(255,255,255,.5);
  margin: 0 auto 2rem auto;
  width: 50vw;
}


mat-panel-title.mat-h2 {
  padding-top: 16px;

  mat-chip {
    margin-left: 1em;

    &.draft { background-color: $brand-primary; color: white; }
    &.in_process { background-color: $brand-primary-tint-1; color: white; }
    &.in_review { background-color: $brand-primary-tint-2; color: white; }
    &.review_complete { background-color: $brand-primary-tint-3; }
    &.inactive { background-color: $brand-gray-light; }
  }
}

.study-row, .approval-row {
  cursor: pointer;

  &:hover {
    background-color: $brand-gray-light;
  }

  &.new {
    background-color: $brand-accent-light;
  }

  td {
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom-color: transparent;
    border-right: 1px solid $brand-gray-tint-1;

    &:first-child {
      padding-left: .5rem;
    }

    &:last-child {
      border-right: none;
    }

    &.study-actions { padding: 0; }
  }

  .new {
    background-color: $brand-accent;
    color: white;
    font-weight: bold;
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
    margin-left: 1rem;
  }
}

.mat-table {
  width: 100%;

  .mat-header-cell {
    font-size: 1.1250rem;
    font-family: $heading-font-family;
    color: $brand-gray;
    padding-left: 1rem;
    border-bottom-color: $brand-gray-tint-1;
    border-right: 1px solid $brand-gray-tint-1;

    &:first-child {
      padding-left: .5rem;
    }

    &:last-child {
      border-right: none;
    }
  }
}

.mat-button-toggle {
  font-size: 1rem;
  padding: 0 2rem;
}

.task-events-header {
  margin-bottom: 2rem;
}

.no-task-events {
  padding: 1rem;
  text-align: center;
  margin-top:16px;
}

::ng-deep button.study-action-button {
  width: 100%;
  height: 100%;
  margin: 0;
  background: transparent;
}

.study-tab-div {
  padding-left : 50px;
  padding-right : 50px;
  background-color : transparent;
}

.study-tab-group {
  border-radius : 10px 10px 0 0;
  padding-left : 10px;
  padding-right : 10px;
  margin-top: 10px;
  background-color : white;
}

.study-blue {
  font-size: 1.125rem;
  font-weight: bold;
  font-family: $body-font-family;
  color: $brand-primary;
}


.study-tab-chip {
  padding: 16px 20px;
  opacity : .7;
  margin-right : 20px !important;
}
.mat-chip.mat-standard-chip.mat-chip-selected.mat-accent{
  opacity: 1;
}

.in-progress-study {
  display : block;
  text-align: center;
  padding: 10px;
  margin: 5px;
  color : #999;
  border: 1px solid #999;

}


.new-study {
  display : block;
  text-align: center;
  padding: 10px;
  margin: 5px;
  color : #222;
  border: 1px solid #bbb;

}

.irb-study {
  display : block;
  text-align: center;
  padding: 10px;
  margin: 5px;
  color : #222;
  border: 1px solid $brand-accent-muted;

}
