@import "../../config";
.documentation {
  background-color: $brand-primary-tint-4;
  margin: 10px 0 20px 0;
  padding: 10px;
}

.documentation markdown ::ng-deep h1 {
  font-size: 24px;
}

#form-column, #data-display-column {
  transition: all 200ms ease-in-out;
}

#form-column {
  width: 100%;

  &.collapsed {
    width: 70%;
  }
}
