<div *ngIf="task && form; else loadingMessage" fxLayout="row">
  <div id="form-column">
    <h1>{{task.title}}</h1>
    <div *ngIf="task.documentation" class="documentation">
      <markdown [data]="task.documentation"></markdown>
    </div>
    <formly-form
      (keyup)="handleKeyUp($event)"
      [fields]="fields"
      [form]="form"
      [model]="model"
    ></formly-form>
    <button
      *ngIf="numRemainingSiblingTasks(task) > 0"
      (click)="saveAllSiblingTaskData(task)"
      [disabled]="form.invalid"
      color="accent"
      mat-flat-button
    >Apply to remaining {{numRemainingSiblingTasks(task) + 1}} {{workflow.title}}</button>
    <button (click)="saveTaskData(task)" [disabled]="form.invalid" color="primary" mat-flat-button>Save</button>
    <button (click)="goBack()" mat-flat-button>Cancel</button>
  </div>
</div>

<ng-template #loadingMessage>
  <app-loading></app-loading>
</ng-template>
