
<div *ngIf="task && form; else loadingMessage">

  <div id="lockedMessage" *ngIf="locked" [@flashTrigger]>
    <mat-icon>lock</mat-icon>
    This task is locked.
    <ng-container [ngSwitch]=task.state>
      <span *ngSwitchCase="taskStates.LOCKED">
        It must be completed by a different person.
      </span>
      <span *ngSwitchCase="taskStates.COMPLETED">
        It was already completed, and is in a read only state.
      </span>
      <span *ngSwitchDefault>
        This task is not able to be completed.
      </span>
    </ng-container>
  </div>

  <div id="form-column" [@disableTrigger]="formViewState">
    <div class="documentation">
      <div markdown [data]="task.documentation">
      </div>
    </div>

    <formly-form *ngIf="showForm"
      (keyup)="handleKeyUp($event)"
      [fields]="fields"
      [form]="form"
      [options]="options"
      [model]="model">
    </formly-form>

    <button *ngIf="task.multi_instance_type === multiInstanceTypes.LOOPING" (click)="saveTaskData(task, false, false)" [disabled]="saveDisabled()" color="primary" mat-flat-button>Save and Add Another</button>
    <button id="save" (click)="saveTaskData(task, false, true)" [disabled]="saveDisabled()" color="primary" mat-flat-button>Save</button>
    <button [disabled]="saveDisabled()" (click)="goBack()" mat-flat-button>Cancel</button>
    <button title="This will apply the current settings to this task and all remaining tasks"
      *ngIf="getIncompleteMISiblings(task).length > 1" (click)="saveTaskData(task, true)"
      [disabled]="saveDisabled()" color="accent" mat-flat-button>Apply to all {{getIncompleteMISiblings(task).length}}
      {{workflow.title}}</button>
  </div>
</div>

<ng-template #loadingMessage>
  <app-loading></app-loading>
</ng-template>
