<ng-container *ngIf="task && workflow; else loadingMessage">
    <h1>{{task.title}}</h1>
    <div class="documentation" *ngIf="task.documentation">
      <markdown [data]="task.documentation"></markdown>
    </div>
    <div>
      <h3>{{task.form.key}}</h3>
      <formly-form [model]="model" [fields]="task.form.fields | toFormly" [form]="form" (keyup)="handleKeyUp($event)"></formly-form>
      <button mat-flat-button color="primary" (click)="saveTaskData(task)" [disabled]="form.invalid">Save</button>
    </div>
</ng-container>

<ng-template #loadingMessage>
  <div class="loading" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
