
.logs {
  padding-left: 5px;
  padding-right: 50px;
  padding-top: 40px;
}

.mat-column-level {
  flex: 0 0 5%;
  text-align: center;
}

.mat-column-code {
  flex: 0 0 5%;
  text-align: center;
}

.mat-column-workflow {
  flex: 0 0 15%;
  text-align: center;
}

.mat-column-category {
  flex: 0 0 15%;
  text-align: center;
}

.mat-column-message {
  flex: 0 0 30%;
  text-align: left;
  font-weight: bold;
}


.mat-column-user_uid {
  flex: 0 0 10%;
  text-align: left;
}

.mat-column-timestamp {
  flex: 0 0 20%;
  text-align: left;
}

