@import "../../config";

.category-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mat-accordion {
  width: 100%;
}

.categories .mat-expansion-panel-header-title,
.categories .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.categories .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.categories .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-card-subtitle {
  text-transform: uppercase;
  padding-bottom: 0;
  margin-bottom: 0;
}

::ng-deep .mat-list-base .mat-list-item .mat-list-item-content,
::ng-deep .mat-list-base .mat-list-option .mat-list-item-content {
  padding: 0;
  font-size: 1rem;

  &:hover {
    background-color: $brand-gray-light;
    cursor: pointer;
  }
}

.mat-list-item-disabled {
  background-color: transparent;
  color: $brand-gray-tint-1;
}
