@import "../../config";

.task {
  font-size: 1rem;
  cursor: pointer;
}

.task:hover {
  background-color: $brand-gray-light;
}

.task.active {
  color: $brand-accent;
  font-weight: bold;
}

.task.disabled {
  color: $brand-gray-tint-1;
  pointer-events: none;
}

.task.indent_1 {
  margin-right: 10px;
}

.task.indent_2 {
  margin-right: 20px;
}

.task.indent_3 {
  margin-right: 30px;
}
