@import "../../config";

.task {
  background-color: $brand-gray;
  color: white;
}

.task:hover {
  background-color: $brand-gray-tint-1;
  color: white;
}

.task.active {
  background-color: $brand-accent;
}

.task.disabled {
  color: $brand-gray-tint-2;
  pointer-events: none;
}
