@import "../../config";

.task {
  font-size: 1rem;
  cursor: pointer;
}

.task:hover {
  background-color: $brand-gray-light;
}

.task.active {
  color: $brand-accent;
  font-weight: bold;
}

.task.disabled {
  color: $brand-gray-tint-1;
  pointer-events: none;
}

$indent: 1rem;

.task .indent_1 {
  text-indent: $indent * 1;
}

.task .indent_2 {
  text-indent: $indent * 2;
}

.task .indent_3 {
  text-indent: $indent * 3;
}

.task .indent_4 {
  text-indent: $indent * 4;
}

.task .indent_5 {
  text-indent: $indent * 5;
}

.task .indent_6 {
  text-indent: $indent * 6;
}
