<mat-list *ngIf="navList">
    <mat-list-item *ngFor="let navItem of navList"

      [ngClass]="{'task': true, 'active': false, 'disabled': navItem.state === taskStates.FUTURE}"
      pageScroll
      (click)="selectTask(navItem.task_id)"
     >
      <span class="indent_{{navItem.indent}}">
        {{ navItem.description }}
      </span>
      <span fxFlex></span>
      <mat-icon *ngIf="navItem.state === taskStates.COMPLETED">check</mat-icon>
      <mat-icon *ngIf="navItem.state === taskStates.WAITING">more_horiz</mat-icon>
      <mat-icon *ngIf="navItem.state === taskStates.FUTURE">access_time</mat-icon>
      <mat-icon *ngIf="navItem.state === taskStates.READY">create</mat-icon>
    </mat-list-item>
</mat-list>
