<nav class="mat-elevation-z6" id="globalHeader" *ngIf="user">
  <a
    [routerLink]="['/']"
    class="site-title mat-title"
    id="nav_home"
    mat-button
  >
    <img class="logo" src="/assets/logo/uva_rotunda.svg" alt="University of Virginia">
    CR Connect
  </a>
  <div class="flex-spacer"></div>
  <ng-container *ngFor="let link of navLinks">
    <a *ngIf="!link.links"
       [id]="link.id"
       [ngClass]="{'active': isLinkActive(link.path)}"
       [routerLink]="link.path"
       mat-button
       [matTooltip]="link.label"
    >
      <mat-icon>{{link.icon}}</mat-icon>
    </a>

    <ng-container *ngIf="link.links">
      <button
        [attr.aria-label]="link.label"
        [id]="link.id"
        [matMenuTriggerFor]="menu"
        mat-button
       [matTooltip]="link.label"
      >
        <mat-icon>{{link.icon}}</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button
          *ngFor="let menuLink of link.links"
          [id]="menuLink.id"
          [ngClass]="{'active': isLinkActive(menuLink.path)}"
          [routerLink]="menuLink.path"
          mat-menu-item
        >
          <mat-icon *ngIf="menuLink.icon">{{menuLink.icon}}</mat-icon>
          <span>{{menuLink.label}}</span>
        </button>
      </mat-menu>
    </ng-container>
  </ng-container>
</nav>
