@import "../../config";

#globalHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.flex-spacer {
  flex-grow: 1;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 16px;
  background-color: $brand-primary;
  color: white;
  height: $header-height;

  .site-title {
    color: white;
    font-size: 1.5625rem;
    font-weight: 500;
    line-height: 84px;
    margin-bottom: 0;
    background-color: $brand-primary;

    .logo {
      margin-right: 1rem;
      height: 72px;
    }
  }
}

a.active {
  background-color: $brand-primary-tint-1;
  color: white;
}

.mat-menu-item.active {
  background-color: $brand-gray-tint-2;
  color: $brand-gray;
  font-weight: bold;
}

mat-icon.with-label {
  margin-right: 0.25em;
}

span.user-info {
  margin-left: 1em;
  font-style: italic;
}
