@import "../../config";

#globalHeader, #loadingHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.ldap-search {
  max-width: fit-content;
}

.mat-menu-item {
  width: 400px;
}

::ng-deep .mat-input-element {
  width: 100%;
}

.search-text {}

#adminToolbar {
  border-radius: 5px;

  &.viewing-as-user {
    background-color: $brand-accent;
  }
}

.flex-spacer {
  flex-grow: 1;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 16px;
  background-color: $brand-primary;
  color: white;
  height: $header-height;

  .site-title {
    color: white;
    font-size: 1.5625rem;
    font-weight: 500;
    line-height: 84px;
    margin-bottom: 0;
    background-color: $brand-primary;

    .logo {
      margin-right: 1rem;
      height: 72px;
    }
  }
}

a.active {
  background-color: $brand-primary-tint-1;
  color: white;
}

.mat-menu-item.active {
  background-color: $brand-gray-tint-2;
  color: $brand-gray;
  font-weight: bold;
}
