@import "../../config";

.mat-list-base .mat-list-item {
  height: 30px;
}

.submenu {
  margin-left: 20px;
  border-left: 1px solid gray;
}

.task {
  font-size: 1rem;
  cursor: pointer;
}

.task:hover {
  background-color: $brand-gray-light;
}

.task.active {
  color: $brand-accent;
  font-weight: bold;
}

.task.disabled {
  color: $brand-gray-tint-1;
  pointer-events: none;
}
