<mat-nav-list>


  <ng-container *ngFor="let navItem of navList">
    <mat-list-item *ngIf="shouldDisplay(navItem)"
                   [ngClass]="{
      'task': true,
      'active': currentTask && currentTask.id === navItem.task_id
    }"
    >
      <button *ngIf="navItem && navItem.children && navItem.children.length > 0 " aria-label="More / Less" (click)="toggleExpanded(navItem)">
        <mat-icon>{{isExpanded(navItem) ? "expand_less" : "expand_more"}}</mat-icon>
      </button>
      <div mat-line fxLayout="row" fxLayoutAlign="start center" *ngIf="shouldDisplay(navItem)">
        <app-nav-item-icon [navItem]="navItem"></app-nav-item-icon>
        <div>{{ navItem.description }}
          <span *ngIf="showAll">({{navItem.spec_type}})</span>
        </div>
      </div>
    </mat-list-item>
    <div class="submenu" *ngIf="isExpanded(navItem)">
      <app-workflow-nav
        *ngIf="navItem && navItem.children && navItem.children.length > 0"
        [navList]="navItem.children"
        [showAll]="showAll"
        [currentTask]="currentTask"
        (taskSelected)="selectTask($event)"
      ></app-workflow-nav>
    </div>
  </ng-container>

</mat-nav-list>

<ng-template #loadingMessage>
  <app-loading></app-loading>
</ng-template>
