<ng-container *ngIf="study && process; else loading">
  <div *ngFor="let cat of process.categories" id="{{'process_category_' + process.id}}_{{cat.id}}">
    <h1>{{cat.name}}</h1>
    <div *ngFor="let step of cat.steps" id="{{'process_category_step_' + process.id}}_{{cat.id}}_{{step.id}}">
      <h2>{{step.name}}</h2>
      <div>
        <h3>{{step.form.name}}</h3>
        <formly-form [model]="model" [fields]="step.form.fields" [options]="options" [form]="form"></formly-form>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div class="loading" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
