<ng-container *ngIf="study && workflowTasks">
  <button mat-flat-button [routerLink]="['/study', study.id]" ngClass="back">
    <mat-icon>chevron_left</mat-icon>
    Back
  </button>

  <mat-nav-list>
    <ng-container *ngFor="let task of workflowTasks">
      <a
        mat-list-item
        class="process-category"
        [href]="'#task_' + task.id"
        matLine
        pageScroll
      >
        {{ task.name }}
        <span fxFlex></span>
      </a>
      <app-workflow-steps-menu-list
        [categoryId]="task.id"
        [processId]="task.id"
        [steps]="task.form"
      ></app-workflow-steps-menu-list>
    </ng-container>
  </mat-nav-list>
</ng-container>
