button.back {
  background-color: black;
  color: white;
}

.process-title {
  color: white;
  padding: 10px;
  border-bottom: 1px solid white;
}

.process-category {
  background-color: black;
  color: white;
}

.process-category:hover {
  background-color: #333333;
  color: white;
}
