<ng-container *ngIf="study && workflowTasks">
  <button mat-flat-button [routerLink]="['/study', study.id]" ngClass="back">
    <mat-icon>chevron_left</mat-icon>
    Back
  </button>

  <mat-nav-list>
    <ng-container *ngFor="let wf of studyWorkflows">
      <a
        mat-list-item
        class="workflow-task"
        [href]="'#workflow_' + wf.id"
        matLine
        pageScroll
      >
        {{ getWorkflowSpecForWorkflow(wf).display_name }}
        <span fxFlex></span>
      </a>
      <app-workflow-steps-menu-list
        *ngFor="let task of workflowTasks"
        [workflowTask]="task"
      ></app-workflow-steps-menu-list>
    </ng-container>
  </mat-nav-list>
</ng-container>
