<ng-container *ngIf="study && studyWorkflows">
  <button mat-flat-button [routerLink]="['/study', study.id]" ngClass="back">
    <mat-icon>chevron_left</mat-icon>
    Back
  </button>

  <mat-nav-list>
    <ng-container *ngFor="let wf of studyWorkflows">
      <a
        mat-list-item
        class="workflow-task"
        [href]="'#workflow_' + wf.id"
        matLine
        pageScroll
      >
        {{ wf.workflow_spec ? wf.workflow_spec.display_name : wf.workflow_spec_id}}
        <span fxFlex></span>
      </a>
      <app-workflow-steps-menu-list
        *ngFor="let task of wf.workflow_tasks"
        [workflowTask]="task"
      ></app-workflow-steps-menu-list>
    </ng-container>
  </mat-nav-list>
</ng-container>
