<mat-sidenav-container>
  <mat-sidenav opened mode="side" position="start" [fixedInViewport]="true" [fixedTopGap]="64">
    <button
      mat-button
      (click)="goBack()"
      [ngClass]="'back'"
    >
      <mat-icon>chevron_left</mat-icon>
      Back
    </button>

    <h3>
      Tasks
      <span fxFlex></span>
      <button
        mat-button
        (click)="confirmResetWorkflow()"
      >
        <mat-icon>undo</mat-icon>
        Start over
      </button>
    </h3>
    <app-workflow-steps-menu-list *ngIf="workflow"
      [navList]="workflow.navigation"
      (taskSelected)="setCurrentTask($event)"
    ></app-workflow-steps-menu-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <h4 class="mat-card-subtitle">{{workflowSpec && workflowSpec.display_name}}</h4>
    <div fxLayout="row" fxLayoutAlign="end">
      <button
        mat-mini-fab
        title="Files for this task"
        (click)="toggleFilesDisplay()"
        [ngClass]="{'selected': displayFiles, 'mat-elevation-z0': true}"
        color="accent"
        [matBadge]="numFiles"
        matBadgeColor="primary"
        [matBadgeHidden]="numFiles <= 0"
      >
        <mat-icon>insert_drive_file</mat-icon>
      </button>
      <button
        mat-mini-fab
        title="Display collected task data"
        (click)="toggleDataDisplay()"
        [ngClass]="{'selected': displayData, 'mat-elevation-z0': true}"
        color="primary"
      >
        <mat-icon>chrome_reader_mode</mat-icon>
      </button>
    </div>
    <ng-container *ngIf="!loading; else loadingMessage">
      <app-workflow-form *ngIf="hasIncompleteUserTask(); else noTask"
        [task]="currentTask"
        [workflow]="workflow"
        (workflowUpdated)="workflowUpdated($event)"
      ></app-workflow-form>
    </ng-container>
  </mat-sidenav-content>
  <mat-sidenav
    [opened]="displayData || displayFiles"
    mode="side"
    position="end"
    [fixedInViewport]="true"
    [fixedTopGap]="64"
    [ngClass]="{'files-display': displayFiles, 'data-display': displayData}"
  >
    <div fxLayout="row" class="close-pane">
      <span fxFlex></span>
      <button mat-icon-button (click)="closePane()"><mat-icon>close</mat-icon></button>
    </div>
    <div *ngIf="displayFiles && !displayData" id="files-display-column">
      <app-workflow-files *ngIf="workflow" [workflow]="workflow" [fileMetas]="fileMetas"></app-workflow-files>
    </div>
    <div *ngIf="!displayFiles && displayData" id="data-display-column">
      <app-code-viewer
        *ngIf="workflow && currentTask && currentTask.data"
        [data]="currentTask.data"
      ></app-code-viewer>
    </div>
  </mat-sidenav>
</mat-sidenav-container>

<ng-template #noTask>
  <div class="task-status" fxLayout="column" fxLayoutAlign="stretch stretch">
    <div class="non-user-task" *ngIf="currentTask">
      <div class="documentation" *ngIf="currentTask.documentation">
        <markdown [data]="currentTask.documentation"></markdown>
      </div>
      <button
        *ngIf="currentTask.type == taskTypes.MANUAL_TASK"
        (click)="completeManualTask(currentTask)"
        color="primary"
        mat-flat-button
      >Continue</button>
      <div *ngIf="!currentTask.documentation">
        <h1>{{currentTask.title}}</h1>
        <h2>Task type: {{currentTask.type}}</h2>
        <h3>Status: {{currentTask.state}}</h3>
        <p>Please add documentation to this event to provide users with a custom message
        about their progress.</p>
        <div class="task-data">
          <app-code-viewer [data]="currentTask.data"></app-code-viewer>
        </div>
      </div>
    </div>
    <div class="no-task" *ngIf="!currentTask">
      <h1>No tasks found.</h1>
      <p>This workflow does not have any tasks in it.</p>
    </div>
  </div>
</ng-template>

<ng-template #loadingMessage>
  <app-loading></app-loading>
</ng-template>
