<mat-sidenav-container>
  <mat-sidenav-content>
    <div fxLayout="row" fxLayoutAlign="space-between" >
      <div>
        <h1 class="mat-card-title">{{currentTask && currentTask.title}}</h1>
        <h4 class="mat-card-subtitle">{{workflow && workflow.title}}</h4>
      </div>
      <div fxLayout="row">
        <button
          mat-mini-fab
          title="Files for this task"
          (click)="toggleFilesDisplay()"
          [ngClass]="{'selected': displayFiles, 'mat-elevation-z0': true}"
          color="accent"
          [matBadge]="numFiles"
          matBadgeColor="primary"
          [matBadgeHidden]="numFiles <= 0"
        >
          <mat-icon>insert_drive_file</mat-icon>
        </button>
        <button *ngIf="showAdminTools"
          mat-mini-fab
          title="Display collected task data"
          (click)="toggleDataDisplay()"
          [ngClass]="{'selected': displayData, 'mat-elevation-z0': true}"
          color="primary"
        >
          <mat-icon>chrome_reader_mode</mat-icon>
        </button>
      </div>
    </div>

    <ng-container *ngIf="!loading; else loadingMessage">
      <ng-container *ngIf="hasIncompleteUserTask(); else noTask">
        <app-workflow-form *ngIf="currentTask; else loadingMessage"
                           [task]="currentTask"
                           [workflow]="workflow"
                           (workflowUpdated)="workflowUpdated($event)"
                           (apiError)="handleError($event)"
        ></app-workflow-form>
      </ng-container>
    </ng-container>

  </mat-sidenav-content>
  <mat-sidenav opened mode="side" position="start" [fixedInViewport]="true" [fixedTopGap]="64">
    <div *ngIf="(study===undefined || study.short_title===null)">
      <button
        mat-button
        (click)="goBack()"
        [ngClass]="'back'"
      >
        <mat-icon>chevron_left</mat-icon>
        Return to Study Dashboard
      </button>
    </div>
    <div class="button" *ngIf="(study!==undefined && study.short_title!==null)" matTooltip="Return to Study Dashboard" matTooltipClass="return">
      <button
        mat-button
        (click)="goBack()"
        [ngClass]="'back'"
        >
        <mat-icon>chevron_left</mat-icon>
        #{{study.id}}: {{study.short_title}}
      </button>
    </div>

    <h3>
      Tasks

      <span fxFlex></span>
      <button
        mat-button
        (click)="confirmResetWorkflow()"
      >
        <mat-icon>undo</mat-icon>
        Start over
      </button>
    </h3>
    <app-workflow-progress-menu
      *ngIf="workflow"
      [navList]="workflow.navigation"
      [currentTask]="currentTask"
      (taskSelected)="setCurrentTask($event)">
    </app-workflow-progress-menu>

    <div class="adminTools" *ngIf="showAdminTools">
      <h4>Advanced Navigation</h4>
      <em>This area is provided to administrative users only.  It allows you to see
      the full navigation to help clarify where you are in the BPMN workflow and why.</em>
      <app-workflow-nav
        *ngIf="workflow"
        [navList]="workflow.navigation"
        [showAll]="true"
        [currentTask]="currentTask"
        (taskSelected)="setCurrentTask($event)"
      ></app-workflow-nav>
    </div>

  </mat-sidenav>
  <mat-sidenav
    [opened]="displayData || displayFiles"
    mode="side"
    position="end"
    [fixedInViewport]="true"
    [fixedTopGap]="64"
    [ngClass]="{'files-display': displayFiles, 'data-display': displayData}"
  >
    <div fxLayout="row" class="close-pane">
      <span fxFlex></span>
      <button mat-icon-button (click)="closePane()"><mat-icon>close</mat-icon></button>
    </div>
    <div *ngIf="displayFiles && !displayData" id="files-display-column">
      <app-workflow-files *ngIf="workflow" [study]="study" [directory]="dataDictionary"></app-workflow-files>
    </div>
    <div *ngIf="!displayFiles && displayData" id="data-display-column">
      <p>This feature shows the information that you've entered that will be used to generate the Research Ramp-up Plan.
        Please ignore unless asked to make a copy of the data for troubleshooting purposes.</p>
      <app-code-viewer
        *ngIf="workflow && currentTask && currentTask.data"
        [data]="currentTask.data"
      ></app-code-viewer>
    </div>
  </mat-sidenav>
</mat-sidenav-container>

<ng-template #noTask>
  <div class="task-status" fxLayout="column" fxLayoutAlign="stretch stretch">
    <div class="non-user-task" *ngIf="currentTask">
      <h1 class="mat-display-2" *ngIf="isLocked(currentTask) && currentTask.type !== taskTypes.END_EVENT">{{workflow.title}} is pending approval.</h1>
      <h1 class="mat-display-2" *ngIf="currentTask.type === taskTypes.END_EVENT">{{workflow.title}} is complete.</h1>
      <div class="documentation" *ngIf="currentTask.documentation">
        <markdown [data]="currentTask.documentation"></markdown>
      </div>

      <ng-container *ngIf="currentTask.type === taskTypes.END_EVENT">
        <p *ngIf="workflow.redirect" class="redirecting">Taking you back to the Study menu...</p>
        <button
          mat-flat-button
          (click)="goBack()"
          color="accent"
        >Return to Study Dashboard</button>
      </ng-container>

      <button
        *ngIf="currentTask.type === taskTypes.MANUAL_TASK"
        (click)="completeManualTask(currentTask)"
        color="primary"
        mat-flat-button
      ><span [hidden]="!isOnlyTask()">Acknowledge</span><span [hidden]="isOnlyTask()">Continue</span></button>
      <div *ngIf="!isLocked(currentTask) && !currentTask.documentation && (currentTask.type !== taskTypes.END_EVENT)">
        <h1>{{currentTask.title}}</h1>
        <h2>Task type: {{currentTask.type}}</h2>
        <h3>Status: {{currentTask.state}}</h3>
        <p>Please add documentation to this event to provide users with a custom message
        about their progress.</p>
        <div class="task-data">
          <app-code-viewer [data]="currentTask.data"></app-code-viewer>
        </div>
      </div>
    </div>
    <div class="no-task" *ngIf="loading" >
      <h1>Loading tasks...</h1>
      <p>Please wait</p>
    </div>
    <div class="no-task" *ngIf="!currentTask  && !loading" >
      <h1>No tasks found.</h1>
      <p>This workflow does not have any tasks in it.</p>
    </div>
  </div>
</ng-template>

<ng-template #loadingMessage>
  <app-loading *ngIf="!error"></app-loading>
  <div class="api_error" *ngIf="error">
    <p>
    We experienced an unexpected error loading your workflow.  The workflow process
    may have changed since your last visit.</p>
    <p>As a first step, please try restarting the workflow.  You should not lose any of your information,
      but you may have to step through previously completed tasks to get back to where you were.</p>
    <p>If this does not resolve your issue, please send screenshot to askresearch@virginia.edu and
      someone will be in touch shortly.</p>

    <button mat-button mat-raised-button color="primary" (click)="resetWorkflow()">Restart Workflow</button>

  </div>

</ng-template>
