version: "3.3"
services:
  db:
    container_name: db
    image: postgres
    volumes:
      - ./pg-init-scripts/initdb.sh:/docker-entrypoint-initdb.d/initdb.sh
    ports:
      - "5432"
    environment:
      - POSTGRES_USER=crc_user
      - POSTGRES_PASSWORD=crc_pass
      - POSTGRES_MULTIPLE_DATABASES=crc_test,crc_dev
    healthcheck:
      test: ["CMD", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  backend:
    container_name: backend
    depends_on:
       - db
    image: sartography/cr-connect-workflow
    volumes:
      - ./flask-config/config.py:/crc-workflow/instance/config.py
    environment:
      - FLASK_APP=./crc/__init__.py
      - RESET_DB=true
    ports:
      - "5000:5000"
    command: ./wait-for-it.sh db:5432 -t 0 -- ./docker_run.sh

  pb:
    container_name: pb
    image: sartography/protocol-builder-mock
    ports:
      - "5001:5001"
    command: ./docker_run.sh

