<div class="studies-container" fxLayout="column">

  <div *ngIf="!loading; else loadingMessage">
    <h1 class="mat-display-4">Your Approvals</h1>
    <app-studies-files-dashboard
      [approvalsByStatus]="myApprovalsByStatus"
      [approveButtons]="true"
    ></app-studies-files-dashboard>

    <h1 class="mat-display-4">All Approvals</h1>
    <app-studies-files-dashboard
      [approvalsByStatus]="allApprovalsByStatus"
      [approveButtons]="false"
    ></app-studies-files-dashboard>

  </div>
</div>

<ng-template #loadingMessage>
  <app-loading></app-loading>
</ng-template>
