@import "../../config";

.studies-container {
  padding: 0;
  margin: 0;

  & > h1 {
    padding-top: 2rem;
    padding-left: 2rem;
  }
}

mat-panel-title.mat-h2 {
  padding-top: 16px;

  mat-chip {
    margin-left: 1em;

    &.draft { background-color: $brand-primary; color: white; }
    &.in_process { background-color: $brand-primary-tint-1; color: white; }
    &.in_review { background-color: $brand-primary-tint-2; color: white; }
    &.review_complete { background-color: $brand-primary-tint-3; }
    &.inactive { background-color: $brand-gray-light; }
  }
}


.mat-expansion-panel {
  border-bottom: 1px solid $brand-gray-tint-2;
  border-radius: 0;

  .mat-expansion-panel-header {
    padding: 2rem;

    &.mat-expanded {
      background-color: $brand-gray-light;
    }
  }

  ::ng-deep .mat-expansion-indicator {
    margin: 1rem;

    &::after {
      padding: 6px;
      border-width: 0 4px 4px 0;
    }
  }

  ::ng-deep .mat-expansion-panel-content {
    .mat-expansion-panel-body {
      padding: 1rem;
    }
  }
}
