<div class="status-{{approvalsByStatus.status.toString().toLowerCase()}}" fxLayout="row wrap" fxLayoutGap="40px">
  <table
    [attr.aria-describedby]="approvalsGroupId(approvalsByStatus)"
    [dataSource]="approvalsByStatus.dataSource"
    class="mat-elevation-z0"
    mat-table
    matSort
  >
    <ng-container matColumnDef="id">
      <th *matHeaderCellDef id="col_approval_id" mat-header-cell mat-sort-header>PI (ID) School Dept</th>
      <td *matCellDef="let approval" mat-cell>
        {{ approval.primary_investigator.display_name }}<br/>
        {{ approval.primary_investigator.department | cleanUpLdapProperties }}<br/>
        <br/>
        <span class="smaller">Approver: {{ approval.approver.display_name }}</span>

        <div *ngIf="approval.related_approvals" class="other_approver">
          <b>Also approving:</b><br/>
          <div *ngFor="let related of approval.related_approvals" class="status {{related.status}}">
            {{related.approver.display_name }}<br/>
            <strong>{{related.status}}</strong>
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="comments">
      <th *matHeaderCellDef id="col_approval_comments" mat-header-cell mat-sort-header>Comments</th>
      <td *matCellDef="let approval" mat-cell>{{ approval.message }}</td>
    </ng-container>

    <ng-container matColumnDef="docs">
      <th *matHeaderCellDef id="col_approval_docs" mat-header-cell mat-sort-header> Docs</th>
      <td *matCellDef="let approval" [ngClass]="'docs-cell'" mat-cell>
        <mat-nav-list>
          <mat-list-item (click)="downloadFile(doc)" *ngFor="let doc of approval.associated_files">
            <span>{{ doc.name }}</span>
            <span fxFlex></span>
            <mat-icon>save_alt</mat-icon>
          </mat-list-item>
        </mat-nav-list>
      </td>
    </ng-container>

    <ng-container matColumnDef="creation_date">
      <th *matHeaderCellDef id="col_creation_date" mat-header-cell mat-sort-header>Creation Date</th>
      <td *matCellDef="let approval" mat-cell>
        {{ approval.date_created | date:'short' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="approval_date">
      <th *matHeaderCellDef id="col_approval_date" mat-header-cell mat-sort-header>Approval Date</th>
      <td *matCellDef="let approval" mat-cell>
        <ng-container *ngIf="approval.date_approved">
          {{ approval.date_approved | date:'short' }}
        </ng-container>
        <ng-container *ngIf="!approval.date_approved">
          -
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="current_status">
      <th *matHeaderCellDef id="col_approval_status" mat-header-cell mat-sort-header>Status</th>
      <td *matCellDef="let approval" mat-cell>
        <div class="status {{approval.status}}">
          <strong>{{ approval.status.valueOf() }}</strong><br>
          ({{approval.version | ordinal}} submission)
        </div>
        <div *ngIf="approval.status ==='CANCELED'">This approval request was cancelled.</div>
        <div *ngIf="approval.status ==='PENDING'" class="status {{approval.status}}">
          <a (click)="editApproval(approval)" *ngIf="approveButtons" mat-button
             mat-raised-button>Approve/Reject</a>
        </div>
        <div *ngIf="approval.status ==='APPROVED'" class="status {{approval.status}}">
          <a (click)="editApproval(approval)" *ngIf="approveButtons" mat-button
             mat-raised-button>Modify Approval</a>
        </div>
        <div *ngIf="approval.status ==='DECLINED'" class="status {{approval.status}}">
          <a (click)="editApproval(approval)" *ngIf="approveButtons" mat-button
             mat-raised-button>Modify Approval</a>
        </div>
      </td>
      1
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr
      *matRowDef="let approval; columns: displayedColumns;"
      [attr.data-approval-id]="approval.id"
      [ngClass]="{'study-row': true}"
      mat-row
    ></tr>
  </table>
</div>
