@import "../../config";

h2 {
  margin-top: 2rem;

  &.disabled {
    color: $brand-gray-tint-1;
  }
}

.studies-container {
  padding: 0;
  margin: 0;

  nav {
    padding: 2rem;
  }
}

//.status-submitted mat-card {
//  margin-bottom: 10px;
//  background-color: #dcdaed;
//}
//
//.status-active mat-card {
//  margin-bottom: 10px;
//  background-color: #c9efe8;
//}
//
//.status-inactive mat-card {
//  margin-bottom: 10px;
//  background-color: #d5d0d1;
//}



.active {
  font-weight: bold;
}
