<div *ngIf="!loading && study; else loadingMessage" class="study-container">
  <div class="class" fxLayout="row">
    <button
      [routerLink]="'/'"
      mat-flat-button
      ngClass="back"
    >
      <mat-icon>chevron_left</mat-icon>
      Back
    </button>
    <mat-divider vertical></mat-divider>
    <div class="study-metadata">
      <h1 title="{{shrink(160,study.title,study.short_title)}}" class="study-metadata-title"></h1>
      <dl fxLayout="row">
        <dt>ID:</dt><dd>{{study.id}}</dd>
        <ng-container *ngIf="study.short_title">
          <dt>Short Title:</dt><dd>{{study.short_title}}</dd>
        </ng-container>
        <dl class="sub-list" *ngFor="let associate of associates">
          <dd>{{associate.ldap_info.display_name}}</dd>
          <dt>{{associate.role}}</dt>
        </dl>
      </dl>
    </div>
  </div>
  <mat-divider></mat-divider>

  <app-dashboard
    *ngIf="allWorkflows.length > 0"
    [study]="study"
    [selectedWorkflowId]="selectedWorkflowId"
  ></app-dashboard>

  <app-study-events
    *ngIf="study.events_history.length > 0"
    [study]="study"
  ></app-study-events>
  <div *ngIf="!(allWorkflows.length > 0)">
    No active workflows for this study.
  </div>
</div>

<ng-template #loadingMessage>
  <app-loading></app-loading>
</ng-template>
