<div *ngIf="!loading && study; else loadingMessage" class="study-container"><
  <div class="class" fxLayout="row">
    <mat-divider vertical></mat-divider>
    <div class="study-metadata">
      <h1 title="{{shrink(160,study.title,study.short_title)}}" class="study-metadata-title"></h1>
      <dl fxLayout="row">
        <dt>ID:</dt><dd>{{study.id}}</dd>
<!--        TODO: Use Filter Pipe Instead-->
        <ng-container *ngIf="PI">
        <dt>PI:</dt><dd >{{PI.ldap_info.display_name}}</dd>
        </ng-container>
        <ng-container *ngIf="study.short_title">
          <dt>Short Title:</dt><dd>{{study.short_title}}</dd>
        </ng-container>
        <ng-container *ngIf="!study.short_title && study.title">
          <dt>Title:</dt><dd>{{study.title}}</dd>
        </ng-container>
      </dl>
    </div>
  </div>
  <mat-divider></mat-divider>


  <app-dashboard
    *ngIf="allWorkflows.length > 0"
    [study]="study"
    [selectedWorkflowId]="selectedWorkflowId"
  ></app-dashboard>

  <mat-tab-group>
    <mat-tab label="Events">
      <app-study-events
        *ngIf="study.events_history.length > 0"
        [study]="study"
      ></app-study-events>
    </mat-tab>
    <mat-tab label="Logs">
      <app-task-logs [studyId]="study.id"></app-task-logs>
    </mat-tab>
    <mat-tab label="Admin Warnings">
      <app-study-warnings
        *ngIf="study.warnings.length > 0 && isAdmin && showAdminTools"
        [study]="study"
      ></app-study-warnings>
    </mat-tab>
  </mat-tab-group>

  <div *ngIf="!(allWorkflows.length > 0)">
    No active workflows for this study.
  </div>
</div>

<ng-template #loadingMessage>
  <app-loading></app-loading>
</ng-template>
