@import "../../config";

.code-viewer-container {
  background-color: transparent;
}

.code-viewer-actions {
  padding: 1rem;
  color: white;
}

.code-viewer-code {
  padding: 0 2rem 2rem 2rem;

  code.hljs {
    background-color: transparent;
  }
}
