@import "../../config";

h2 {
  margin-top: 2rem;

  &.disabled {
    color: $brand-gray-tint-1;
  }
}

.studies-container {
  padding: 40px;
}


.status-submitted mat-card {
  margin-bottom: 10px;
  background-color: #dcdaed;
}

.status-active mat-card {
  margin-bottom: 10px;
  background-color: #c9efe8;
}

.status-inactive mat-card {
  margin-bottom: 10px;
  background-color: #d5d0d1;
}

mat-panel-title.mat-h2 {
  padding-top: 16px;

  mat-chip {
    margin-left: 1em;

    &.draft { background-color: $brand-primary; color: white; }
    &.in_process { background-color: $brand-primary-tint-1; color: white; }
    &.in_review { background-color: $brand-primary-tint-2; color: white; }
    &.review_complete { background-color: $brand-primary-tint-3; }
    &.inactive { background-color: $brand-gray-light; }
  }
}
