<div class="studies-container" fxLayout="column">
  <h1>Studies</h1>
  <div
    *ngIf="isExpanded"
    class="alert alert-info"
    fxFlex="100"
  >
    <p>To start a new study, first go to HSR IRB Protocol Builder and create a new protocol. When your protocol has
      been created, return here to continue working on it.</p>
    <a
      (click)="isExpanded = false; addStudy()"
      color="accent"
      [href]="irbUrl"
      id="cta_protocol_builder"
      mat-flat-button
      target="_blank"
    >
      Create protocol in Protocol Builder
    </a>
  </div>

  <div
    (click)="isExpanded = true"
    *ngIf="!isExpanded"
    class="alert alert-info"
    fxFlex="100"
    fxLayout="column"
    fxLayoutAlign="center start"
  >
    <button color="primary" id="cta_new_study" mat-flat-button>
      <mat-icon>add</mat-icon>
      Start a new study
    </button>
  </div>

  <ng-container *ngFor="let studiesGroup of studiesByStatus; let i = index;">
    <h2>{{studiesGroup.statusLabel}}</h2>
    <div class="status-{{studiesGroup.status}}" fxLayout="row wrap" fxLayoutGap="40px">
      <app-study-card
        *ngFor="let study of studiesGroup.studies"
        [study]="study"
        [isNew]="newStudy && newStudy.id === study.id"
        fxFlex="33"
      ></app-study-card>
    </div>
  </ng-container>

  <ng-container *ngIf="inactiveStudies && inactiveStudies.length > 0">
    <h2>Inactive Studies</h2>
    <div class="status-inactive" fxLayout="row wrap" fxLayoutGap="40px">
      <app-study-card
        *ngFor="let study of inactiveStudies"
        [study]="study"
        [isNew]="false"
        fxFlex="33"
      ></app-study-card>
    </div>
  </ng-container>
</div>

