<div class="container">
  <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="10px">
    <button (click)="changeNumStudies(-1)" color="primary" mat-mini-fab>
      <mat-icon>exposure_neg_1</mat-icon>
    </button>
    <button (click)="changeNumStudies(1)" color="primary" mat-mini-fab>
      <mat-icon>exposure_plus_1</mat-icon>
    </button>
  </div>

  <h1>Studies</h1>
  <h2>In Progress</h2>
  <div class="status-draft" fxLayout="column" fxLayoutGap="40px">

    <mat-card *ngIf="isExpanded" class="bg-none mat-elevation-z0">
      <mat-card-content fxLayout="column" fxLayoutAlign="center start">
        <p>To start a new study, first go to HSR IRB Protocol Builder and create a new protocol. When your protocol has
        been created, return here to continue working on it.</p>
        <a
          (click)="isExpanded = false; changeNumStudies(1)"
          color="accent"
          mat-flat-button
        >
          Create protocol in Protocol Builder
        </a>
      </mat-card-content>
    </mat-card>

    <mat-card
      *ngIf="!isExpanded"
      fxLayout="column"
      fxLayoutAlign="center start"
      (click)="isExpanded = true"
      class="bg-none mat-elevation-z0"
    >
      <mat-card-content fxLayout="column" fxLayoutAlign="center start">
        <button color="primary" mat-flat-button>
          <mat-icon>add</mat-icon>
          Start a new study
        </button>
      </mat-card-content>
    </mat-card>

    <mat-card *ngFor="let study of draftStudies" [routerLink]="['/study', study.id]" fxLayout="column"
              fxLayoutAlign="center start">
      <mat-card-title>{{study.title}}</mat-card-title>
      <mat-card-content fxLayout="column" fxLayoutAlign="center start">
        <div class="big-number">
          {{study.percent_complete}}<span class="percent">%</span>
        </div>
        <div>complete</div>
        <mat-progress-bar mode="determinate" value="{{study.percent_complete}}"></mat-progress-bar>
      </mat-card-content>
    </mat-card>
  </div>

  <h2>Submitted</h2>
  <div class="status-submitted" fxLayout="column" fxLayoutGap="40px">
    <mat-card *ngFor="let study of submittedStudies" fxLayout="column" fxLayoutAlign="center start">
      <mat-card-title>{{study.title}}</mat-card-title>
      <mat-card-content fxLayout="column" fxLayoutAlign="center start">
        {{study.date_submitted | date}}
      </mat-card-content>
    </mat-card>
  </div>

  <h2>Active</h2>
  <div class="status-active" fxLayout="column" fxLayoutGap="40px">
    <mat-card *ngFor="let study of activeStudies" fxLayout="column" fxLayoutAlign="center start">
      <mat-card-content fxLayout="column" fxLayoutAlign="center start">
        <h3>{{study.title}}</h3>
        {{study.date_modified | date}}
      </mat-card-content>
    </mat-card>
  </div>

  <h2>Inactive</h2>
  <div class="status-inactive" fxLayout="column" fxLayoutGap="40px">
    <mat-card *ngFor="let study of inactiveStudies" fxLayout="column" fxLayoutAlign="center start">
      <mat-card-content fxLayout="column" fxLayoutAlign="center start">
        <h3>{{study.title}}</h3>
        {{study.date_modified | date}}
      </mat-card-content>
    </mat-card>
  </div>
</div>

