<div class="studies-container" fxLayout="column">
  <nav fxFlex="100">
    <a mat-button (click)="view = 'dashboard'" [ngClass]="{'active': view === 'dashboard'}">Dashboard View</a>
    <mat-divider [vertical]="true"></mat-divider>
    <a mat-button (click)="view = 'process'" [ngClass]="{'active': view === 'process'}">Process View</a>
    <span fxFlex></span>
    <a
      [href]="irbUrl"
      color="primary"
      id="cta_protocol_builder"
      mat-button
      target="_blank"
    >
      <mat-icon>add</mat-icon>
      Create new protocol
      <mat-icon>open_in_new</mat-icon>
    </a>
    <a
      (click)="loading = true; loadStudies()"
      color="accent"
      id="cta_reload_studies"
      mat-button
      target="_blank"
    >
      <mat-icon>refresh</mat-icon>
      Check for new protocols
    </a>
  </nav>

  <div *ngIf="!loading; else loadingMessage">
    <app-studies-dashboard
      *ngIf="view === 'dashboard'"
      [studiesByStatus]="studiesByStatus"
      [beforeStudyIds]="beforeStudyIds"
      [afterStudyIds]="afterStudyIds"
      (studyUpdated)="updateStudies($event)"
    ></app-studies-dashboard>
    <app-studies-process *ngIf="view === 'process'"></app-studies-process>
  </div>
</div>

<ng-template #loadingMessage>
  <app-loading></app-loading>
</ng-template>
