@import '../../config';

.cards-container {
  padding: 26px;
}

mat-card {
  cursor: pointer;
  height: 300px;
  border: 1px solid $brand-gray;
  margin-bottom: 26px;

  &:hover {
    border: 1px solid $brand-accent;
  }


  mat-card-header {
    padding-top: 16px;
  }

  mat-card-content {
    padding: 16px;
    h4 {
      &.not-started { color: $brand-gray; }
      &.in-progress { color: $brand-accent; }
      &.complete { color: $brand-accent; }
      &.inactive { color: $brand-gray; }
    }

    .inactive-message {
      color: $brand-gray;

      mat-icon {
        font-size: 48px;
        margin-right: 32px;
      }
    }
  }
}
