@import '../../config';

.container {
  margin: 0;
}

.mat-card {
  background-color : rgba(255,255,255,.25);
}

.mat-card {
  &:hover {
    background-color : rgba(255,255,255,.5);
    //background-color: $brand-gray-light;
    cursor: pointer;
  }
}
.disable-link{
  pointer-events: none;
}

.mat-card-title {
  margin-bottom: 0;
}

.mat-card-title-main {
  color: white;
  border-radius: 10px 10px 0px 0px;
  background-color: $brand-primary;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 0px;
}

.mat-card-title-admin {
  color: orange;
  border-radius: 10px 10px 0px 0px;
  background-color: $brand-primary;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 0px;
}

.workflow-status {
  background-color: $brand-gray-light;
  color: $brand-gray;
  font-size: 0.75rem;
  padding: 0.2rem;
  text-align: center;
}
.lcldashboard {
  background-color : rgba(255,255,255,.25);
  border-radius : 10px;
}
mat-card.dashboard mat-card-content mat-list-item{
  background-color : rgba(255,255,255,.8);
}

mat-card.dashboard mat-card-content mat-list-item {
  &:hover {
    background-color: white;
  }
}
::ng-deep .mat-list-base .mat-list-item,
::ng-deep .mat-list-base .mat-list-option {
  border-bottom: none;

}

::ng-deep .mat-list-base .mat-list-item .mat-list-item-content,
::ng-deep .mat-list-base .mat-list-option .mat-list-item-content {
  padding: 1rem;
  font-size: 1rem;
}
::ng-deep .mat-list .mat-list-item .mat-line{
     word-wrap: break-word;
    white-space: pre-wrap;
}
