<mat-toolbar color="primary">
  <span>CR Connect</span>
</mat-toolbar>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-nav-list>
      <mat-list-item *ngFor="let task of tasks" [ngClass]="{'disabled': task.isDisabled}">
        <a href="?taskId={{task.id}}" matLine fxLayout="row" fxLayoutAlign="start center">
          {{ task.label }}
          <span fxFlex></span>
          <mat-icon>{{task.isComplete ? 'check_box' : 'check_box_outline_blank'}}</mat-icon>
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <form>
      <h4>Select Study Type</h4>
      <mat-form-field>
        <mat-label>Study Type</mat-label>
        <mat-select [(ngModel)]="selectedType" name="type">
          <mat-option *ngFor="let type of types" [value]="type.id">
            {{type.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p> Selected type: {{selectedType}} </p>
    </form>
  </mat-drawer-content>
</mat-drawer-container>
