@import "../../config";
.mat-tree-node{
  min-height: 25px;
  height: 25px;
}
.example-tree-invisible {
  display: none;
}

.activeFile{
  background-color: $brand-accent-light;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

::ng-deep app-workflow-files {
  .mat-tree,
  .mat-tree-node,
  .mat-nested-tree-node,
  .mat-list-base .mat-list-item .mat-list-item-content,
  .mat-list-base .mat-list-option .mat-list-item-content {
    cursor: pointer;
    padding-left: 0;
    padding-right: 0;

    .mat-list-text {
      padding-left: 0.25rem !important;
    }
  }
}
.file {

    color: $brand-accent;
    font-size: 1rem;
    text-decoration: underline;
    padding-left: 0;
    padding-top: 4px;


  mat-icon {
    opacity: 0;
  }
}

.file {

    &:hover {
      background-color: $brand-accent-light;

      mat-icon {
        opacity: 1;
        color: $brand-gray;
      }


  }
}

