<mat-list *ngIf="fileMetas; else loadingMessage">
  <h3>Files for this {{typeLabel}}</h3>
  <em *ngIf="fileMetas.length > 0">The following files were created or uploaded as a part of this {{typeLabel}}.</em>
  <em *ngIf="fileMetas.length == 0">No files are currently associated with this {{typeLabel}}.</em>

  <mat-list-item class="file-list" *ngFor="let fileMeta of fileMetas" (click)="downloadFile(fileMeta)">
    <mat-icon mat-list-icon [svgIcon]="'crc:' + fileMeta.type"></mat-icon>
    <div mat-line class="file">
      <span class="name">{{ fileMeta.name }} ({{fileMeta.id}})</span>
      <span fxFlex></span>
      <mat-icon>save_alt</mat-icon>
    </div>
  </mat-list-item>
</mat-list>

<ng-template #loadingMessage>
  <app-loading></app-loading>
</ng-template>
